.carousel-container {
  position: relative;
  max-width: 1750px; 
  max-height: 1000px; 
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
